/* line 1, ../../../../TentatortasGutierrez/scss/index.scss */
#grilla {
  display: grid;
  grid-template-areas: "header" "productos" "precios" "sucursal" "contacto" "asociate" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 300px min 400px 300px min 400px 300px min 400px 150px min 200px 300px min 400px 200px min 300px 150px;
  grid-column-gap: 300px;
  grid-row-gap: 200px;
  max-width: 2000px;
  width: 100%;
  margin: auto;
  background-color: rgba(172, 207, 158, 0.221);
  display: inline-block;
}

@media screen and (max-width: 1199px) {
  /* line 24, ../../../../TentatortasGutierrez/scss/index.scss */
  #grilla {
    grid-template-areas: "header" "productos" "precios" "sucursal" "contacto" "asociate" "footer";
    grid-template-columns: repeat 100%;
    grid-template-rows: repeat 7, 12%;
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  /* line 41, ../../../../TentatortasGutierrez/scss/index.scss */
  #grilla {
    grid-template-areas: "header" "productos" "precios" "sucursal" "contacto" "asociate" "footer";
    grid-template-rows: repeat 100%;
    grid-template-columns: repeat 100%;
    width: 100%;
  }
}

/* line 58, ../../../../TentatortasGutierrez/scss/index.scss */
.border {
  border: 3px solid black;
}

/* line 62, ../../../../TentatortasGutierrez/scss/index.scss */
section#productos {
  grid-area: productos;
}

/* line 66, ../../../../TentatortasGutierrez/scss/index.scss */
section#precios {
  grid-area: precios;
}

/* line 70, ../../../../TentatortasGutierrez/scss/index.scss */
section#sucursal {
  grid-area: sucursal;
}

/* line 74, ../../../../TentatortasGutierrez/scss/index.scss */
section#contacto {
  grid-area: contacto;
}

/* line 78, ../../../../TentatortasGutierrez/scss/index.scss */
section#asociate {
  grid-area: asociate;
}

/* line 82, ../../../../TentatortasGutierrez/scss/index.scss */
footer {
  grid-area: footer;
  background-color: rgba(247, 138, 138, 0.822);
}

/* line 87, ../../../../TentatortasGutierrez/scss/index.scss */
footer {
  font-size: 20px;
}

/* line 91, ../../../../TentatortasGutierrez/scss/index.scss */
span {
  font-size: 30px;
  color: #5768e8;
  width: bold;
}

/* line 97, ../../../../TentatortasGutierrez/scss/index.scss */
header {
  grid-area: header;
  background-size: 120%;
  font-size: 35px;
  transition: transform 0.3s;
  background-color: black;
}

/* line 104, ../../../../TentatortasGutierrez/scss/index.scss */
header:hover {
  transform: transition;
  background-image: url(https://e7.pngegg.com/pngimages/878/700/png-clipart-watercolor-background-smoke-black.png);
}

/* line 114, ../../../../TentatortasGutierrez/scss/index.scss */
header #titulo h1 {
  color: #f47676;
  font-size: 45px;
  font-weight: bold;
  transition: transform 0.3s;
}

/* line 120, ../../../../TentatortasGutierrez/scss/index.scss */
header #titulo h1:hover {
  transform: translate(100px, 10px);
}

/* line 127, ../../../../TentatortasGutierrez/scss/index.scss */
#productos h2 {
  color: rgba(209, 81, 81, 0.696);
  background-color: #f7eaea;
  transition: transform 0.3s;
}

/* line 132, ../../../../TentatortasGutierrez/scss/index.scss */
#productos h2:hover {
  transform: translate(5px, 5px);
}

/* line 139, ../../../../TentatortasGutierrez/scss/index.scss */
#tortas {
  color: #a36a6a;
  font-family: "Nunito Sans";
  transition: transform 0.3s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

/* line 162, ../../../../TentatortasGutierrez/scss/index.scss */
#tortas:hover {
  transform: rotate(2deg);
}

/* line 166, ../../../../TentatortasGutierrez/scss/index.scss */
#tartas {
  color: #a36a6a;
  font-family: "Nunito Sans";
  transition: transform 0.3s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

/* line 174, ../../../../TentatortasGutierrez/scss/index.scss */
#tartas:hover {
  transform: rotate(2deg);
}

/* line 181, ../../../../TentatortasGutierrez/scss/index.scss */
#budines {
  color: #a36a6a;
  font-family: "Nunito Sans";
  transition: transform 0.3s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

/* line 189, ../../../../TentatortasGutierrez/scss/index.scss */
#budines:hover {
  transform: rotate(2deg);
}

/* line 196, ../../../../TentatortasGutierrez/scss/index.scss */
#chocolates {
  color: #a36a6a;
  font-family: "Nunito Sans";
  transition: transform 0.3s;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

/* line 204, ../../../../TentatortasGutierrez/scss/index.scss */
#chocolates:hover {
  transform: rotate(2deg);
}

/* line 211, ../../../../TentatortasGutierrez/scss/index.scss */
#precios h2 {
  color: rgba(209, 81, 81, 0.696);
  background-color: #f7eaea;
  transition: transform 0.3s;
}

/* line 216, ../../../../TentatortasGutierrez/scss/index.scss */
#precios h2:hover {
  transform: translate(5px, 5px);
}

/* line 222, ../../../../TentatortasGutierrez/scss/index.scss */
#sucursal h2 {
  color: rgba(209, 81, 81, 0.696);
  background-color: #f7eaea;
  transition: transform 0.3s;
}

/* line 227, ../../../../TentatortasGutierrez/scss/index.scss */
#sucursal h2:hover {
  transform: translate(5px, 5px);
}

/* line 234, ../../../../TentatortasGutierrez/scss/index.scss */
#contacto h2 {
  color: rgba(209, 81, 81, 0.696);
  background-color: #f7eaea;
  transition: transform 0.3s;
}

/* line 239, ../../../../TentatortasGutierrez/scss/index.scss */
#contacto h2:hover {
  transform: translate(5px, 5px);
}

/* line 246, ../../../../TentatortasGutierrez/scss/index.scss */
#asociate h2 {
  color: rgba(209, 81, 81, 0.696);
  background-color: #f7eaea;
  transition: transform 0.3s;
}

/* line 251, ../../../../TentatortasGutierrez/scss/index.scss */
#asociate h2:hover {
  transform: translate(5px, 5px);
}

/* line 258, ../../../../TentatortasGutierrez/scss/index.scss */
#imagen1 {
  filter: blur(2px);
  filter: grayscale(0.5);
  transition: transform 0.3s;
  position: relative;
  border-radius: 5px;
  height: 90%;
  width: 90%;
  max-width: 100%;
  height: auto;
}

/* line 269, ../../../../TentatortasGutierrez/scss/index.scss */
#imagen1:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
  filter: grayscale(0);
  outline: solid 3px;
  filter: blur(0px);
  width: 90%;
  height: 90%;
  max-width: 100%;
  height: auto;
}

/* line 284, ../../../../TentatortasGutierrez/scss/index.scss */
#imagen2 {
  filter: blur(2px);
  filter: grayscale(0.5);
  transition: transform 0.3s;
  position: relative;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  max-width: 100%;
  height: auto;
}

/* line 295, ../../../../TentatortasGutierrez/scss/index.scss */
#imagen2:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
  filter: grayscale(0);
  outline: solid 3px;
  filter: blur(0px);
  width: 90%;
  height: 90%;
  max-width: 100%;
  height: auto;
}

/* line 311, ../../../../TentatortasGutierrez/scss/index.scss */
#imagen3 {
  filter: blur(2px);
  filter: grayscale(0.5);
  transition: transform 0.3s;
  position: relative;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  max-width: 100%;
  height: auto;
}

/* line 322, ../../../../TentatortasGutierrez/scss/index.scss */
#imagen3:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
  filter: grayscale(0);
  outline: solid 3px;
  filter: blur(0px);
  width: 90%;
  height: 90%;
  max-width: 100%;
  height: auto;
}

/* line 336, ../../../../TentatortasGutierrez/scss/index.scss */
#imagen4 {
  filter: blur(2px);
  filter: grayscale(0.5);
  transition: transform 0.3s;
  position: relative;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  max-width: 100%;
  height: auto;
}

/* line 347, ../../../../TentatortasGutierrez/scss/index.scss */
#imagen4:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
  filter: grayscale(0);
  outline: solid 3px;
  filter: blur(0px);
  width: 90%;
  height: 90%;
  max-width: 100%;
  height: auto;
}

/* line 362, ../../../../TentatortasGutierrez/scss/index.scss */
input[type=checkbox] {
  transition: all 0.5s;
}

/* line 366, ../../../../TentatortasGutierrez/scss/index.scss */
input[type=checkbox]:checked {
  width: 64px;
  height: 64px;
}

/* line 371, ../../../../TentatortasGutierrez/scss/index.scss */
input {
  transition: all 0.5s;
}

/* line 375, ../../../../TentatortasGutierrez/scss/index.scss */
input:focus {
  background-color: #d2e1ef;
}

/* line 379, ../../../../TentatortasGutierrez/scss/index.scss */
#boton-asociate {
  background-color: #78ba7a;
}

/* line 383, ../../../../TentatortasGutierrez/scss/index.scss */
.contenedor-cards {
  display: flex;
  flex-wrap: nowrap;
}

/* line 388, ../../../../TentatortasGutierrez/scss/index.scss */
.contenedor-cards .card1 {
  display: flex;
  flex-wrap: nowrap;
}

/* line 393, ../../../../TentatortasGutierrez/scss/index.scss */
.contenedor-cards .card2 {
  display: flex;
  flex-wrap: nowrap;
}

/* line 398, ../../../../TentatortasGutierrez/scss/index.scss */
.contenedor-cards .card3 {
  display: flex;
  flex-wrap: nowrap;
}

/* line 403, ../../../../TentatortasGutierrez/scss/index.scss */
.contenedor-cards .card4 {
  display: flex;
  flex-wrap: nowrap;
}

/* line 408, ../../../../TentatortasGutierrez/scss/index.scss */
.label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

/* line 413, ../../../../TentatortasGutierrez/scss/index.scss */
#formulario-1, #formulario-2 {
  position: relative;
  margin: 0 auto;
  padding: 0.5em 0.5em 0.5em;
  box-sizing: border-box;
  background: rgba(246, 244, 218, 0.874) url(background.jpg);
  border: solid 1px;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 400px;
  height: 650px;
}

/* line 426, ../../../../TentatortasGutierrez/scss/index.scss */
#formulario-2 {
  height: 500px;
}

/* line 431, ../../../../TentatortasGutierrez/scss/index.scss */
legend {
  position: relative;
  right: 0;
  background-color: #c2edc4d2;
  margin-top: 0.2px;
  text-align: center;
}

/* line 439, ../../../../TentatortasGutierrez/scss/index.scss */
label {
  font: 1.2em "typewriter", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* line 445, ../../../../TentatortasGutierrez/scss/index.scss */
input:focus,
textarea:focus {
  background: rgba(41, 39, 39, 0.1);
  border-radius: 5px;
}

/* line 452, ../../../../TentatortasGutierrez/scss/index.scss */
textarea {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  width: 95%;
  height: 35%;
  margin-bottom: 15px;
}

/* line 461, ../../../../TentatortasGutierrez/scss/index.scss */
div #terminos {
  margin-bottom: 2px;
  margin-top: 30px;
}

/* line 468, ../../../../TentatortasGutierrez/scss/index.scss */
#tortas {
  color: black;
  background-color: #f08a78;
}

/*# sourceMappingURL=index.css.map */